<nav>
    <div class="site-title">
        <a href="/"><img src="/wagglylogo.png"></a>
    </div>
    <ul>
        <li><a href="/dogs"> Dogs Page  </a></li>
        <li> <a href="/walkers"> Walkers Page </a></li>
        <li> <a href="/create/dog"> Register A Dog </a></li>
        <li> <a href="/create/walker"> Register A Walker </a></li>
    </ul>
</nav>