<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>

    <%- include('./partials/nav.ejs')  %>
    <div>
        <h4 class="gallery">GALLERY</h4>
    </div>
    <div class="row"> 
            <div class="column">
              <img src="/DOG1.jpeg" style="width:20%">
              <img src="/DOG8.jpg" style="width:25%">
              <img src="/DOG3.jpeg" style="width:25%">
              <img src="/DOG4.jpeg" style="width:25%">
              <img src="/DOG5.jpg" style="width:20%">
              <img src="/DOG10.jpg" style="width:25%">
              <img src="/DOG7.jpg" style="width:25%">
              <img src="/DOG2.jpg" style="width:25%">
              <img src="/DOG9.jpg" style="width:25%">
              <img src="/DOG6.jpg" style="width:25%">
              <img src="/DOG11.jpg" style="width:25%">
              <img src="/DOG12.jpg" style="width:20%">
            </div>
        </div>

    <div class="footer">
        <%- include('./partials/footer.ejs')  %>
    </div>

</body>


</html>
